.main-apod {
  height: 100vh;
  background-color: #f15b0584;
  gap: 3vh;
}

.main-apod h1 {
  text-align: center;
  padding: 5vw 10vw;
  font-size: 52px;
  font-weight: bolder;
}
.main-apod h2 {
  text-align: center;
  padding: 2vw 10vw;
  font-size: 32px;
  font-weight: bold;
}

.main-apod img {
  text-align: center;
  object-fit: cover;
  height: 160vh;
  height: 80vh;
  width: 100%;
}

.date-copyright {
  display: flex;
  justify-content: space-around;
  padding: 4vw;
  font-size: 32px;
}
.date-copyright span {
  padding: 1vw 0;
  font-size: 32px;
  font-weight: bold;
}

.explanation h3 {
  padding: 1vw 0;
  font-size: 32px;
  font-weight: bold;
}

.explanation {
  padding: 0 10vh;
  text-align: justify;
  padding-bottom: 100px;
}
